<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="padding: 0px; margin: 0px; box-sizing: border-box; font-family: Verdana, Geneva, Tahoma, sans-serif;">
    <div style="text-align: center; background-color: #efefef; padding: 10px 5px 40px 5px;">
        <h1 style="color: #5C7AFF;">
            TryDev
        </h1>

        <h2 style="display: block;">
            Confirme seu e-mail para continuar
        </h2>

        <p style="font-size: 1.4rem;">
            Tempo de expiração <strong>15 minutos</strong>
        </p>

            <a href="http://localhost:3000/api/verification/{{token}}" style="cursor: pointer; padding: 20px 22px; font-size: 1.2rem; color: #FFF; background-color: #5C7AFF; border: none; border-radius: 50px;">
                <strong>Confirmar meu e-mail</strong>
            </a>
    </div>
</body>
</html>